<!DOCTYPE html>
<html>
<head>
    <title>Ride Request Sent</title>
</head>
<body>

    <h1>Your Ride Request Has Been Sent!</h1>

    <p>
        You have successfully requested to join this ride.
    </p>

    <p>
        <strong>Driver's Email:</strong> <%= driverEmail %>
    </p>

    <p>
        You may contact the driver to set up payment and arrange final ride details.
    </p>

    
    <a href="mailto:<%= driverEmail %>">
        Contact Driver
    </a>

    <br><br>

    <a href="/">Return to Home</a>

</body>
</html>

<%#
 app.post("/request-to-join", (req, res) => {
    const driverEmail = req.body.driverEmail; 

    res.render("confirmation.ejs", {
        driverEmail: driverEmail
    });
    %>
});


