<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head') %>
<body>
    <%- include('includes/header') %>
    <main>
    <div class="container-center">
      <h3 class="subheading">Reset Password</h3>

      <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
        <% errors.forEach(error => { %>
          <div class="errlist"><%= error %></div>
        <% }) %>
      <% } %>

      <div class="box">
        <div class="innerboxes">
          <form id="forgotForm" action="/forgot-password" method="POST">
            <input class="inputfield" type="text" name="username" placeholder="Username" required />
            <input class="inputfield" type="text" name="security_answer" placeholder="What Is Your Dream Vacation Spot?" required />
            <input class="inputfield" type="password" name="password" placeholder="New Password" required />
            <input class="inputfield" type="password" name="confirm_password" placeholder="Confirm New Password" required />
          </form>
        </div>
      </div>

      <div class="submit">
        <button type="submit" form="forgotForm">Reset Password</button>
      </div>

      <p class="paragraphtxt"> Don't need to reset your Password? <a href="/login">Log In</a></p>
    </div>
  </main>
</body>
</html>