<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNT Rides - Sign Up</title>
    <%# inter font from Google Fonts %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <%# style sheet %>
    <link rel="stylesheet" href="/customstyle.css">
</head>
<body>
    <header class="header">
        <h2><a href="/">UNT RIDES</a></h2>
    </header>
    <main>
    <div class="container-center">
      <h3 class="subheading">Sign Up</h3>

      <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
        <% errors.forEach(error => { %>
          <div class="errlist"><%= error %></div>
        <% }) %>
      <% } %>

      <div class="box" role="region" aria-label="signup form">
        <div class="innerboxes">
          <form id="signupForm" action="/register" method="POST" novalidate>
            <input class="inputfield" type="text" name="username" placeholder="Username" autocomplete="off" required />

            <input class="inputfield" type="email" name="email" placeholder="Email" autocomplete="off" required />
            
            <p class="greenboxtext">
                Note: Use your UNT Email when signing up.
                <br />
                Emails will be given out to riders.
            </p>
            <input class="inputfield" type="password" name="password" placeholder="Password" required />

            <input class="inputfield" type="password" name="confirm_password" placeholder="Confirm Password" required />
          </form>
        </div>
      </div>

      <div class="submit">
        <button type="submit" form="signupForm">Sign Up</button>
      </div>

      <p class="paragraphtxt">Already have an account? <a href="/login">Log In</a></p>
    </div>
  </main>
</body>
</html>
