<header class="header">
  <div class="headertextandaccount">
    <h2><a class="logo" href="/">UNT Rides</a></h2>
    <div class="accountposition">
      <% if (user) { %>
        <% if (currentPage === '/create-post') { %>
          <a href="/find-ride" class="nav-link">Find a Ride</a>
        <% } else { %>
          <a href="/create-post" class="nav-link">Post a Ride</a>
        <% } %>
      <% } %>
      <% if (user) { %>
        <div>
          <img class="accounticon" src="/images/studentlogged.png" id="accountIcon" />
          <div class="dropdown" id="dropdownMenu">
            <a href="/settings">Account Settings</a>
            <a href="/logout">Log Out</a>
          </div>
        </div>
      <% } else { %>
        <a href="/login" class="account-icon-link">
          <img class="accounticon" src="/images/student.png" />
        </a>
      <% } %>
    </div>
  </div>
</header>

<script>
        // user clicks account icon
        accountIcon.addEventListener("click", (event) => {
            dropdownMenu.classList.toggle("show");

            // menu open -> change to studentdropdown; closed -> studentlogged
            const menuState = dropdownMenu.classList.contains("show");
            accountIcon.src = menuState
              ? "/images/studentdropdown.png"
              : "/images/studentlogged.png";
        });

        //user clicks out of dropdown menu
        document.addEventListener("click", (event) => {
            const clickedOutside = !dropdownMenu.contains(event.target) && event.target !== accountIcon;
            
            // back to normal icon
            if (clickedOutside) {
              dropdownMenu.classList.remove("show");
              accountIcon.src = "/images/studentlogged.png";
            }
        });
</script>
